body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.container {
    background: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
    width: 80%;
    max-width: 600px;
}

input {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    width: calc(100% - 22px);
}

button {
    padding: 10px;
    background-color: #007BFF;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin-top: 10px;
}

button:hover {
    background-color: #0056b3;
}

#movieResult {
    margin-top: 20px;
    text-align: left;
}

.movie-item {
    margin-bottom: 20px;
    border-bottom: 1px solid #ddd;
    padding-bottom: 10px;
}

.movie-item h2 {
    margin: 0;
    font-size: 20px;
}

.movie-item p {
    margin: 5px 0;
}

.movie-item a {
    color: #007BFF;
    text-decoration: none;
}

.movie-item a:hover {
    text-decoration: underline;
}

.movie-item img {
    max-width: 100%;
    height: auto;
    border-radius: 8px;
}
