        /*  BODY  */

body {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background: #0b0b0b;
    color: #fff;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
*,
*::before,
*::after {
    box-sizing: inherit;
}


        /*  HEADER  */

header {
    background: #000;
    display: flex;
    justify-content: space-between;
    padding: 20px;
    align-items: center;
}
header a {
    display: flex;
    align-items: center;
    height: 100%;
    color: #FF5500;
    text-decoration: none;
    font-size: 30px;
}
header a img{
    margin-right: 5px;
    width: 30px;
    height: auto;
}
form {
    flex-direction: row;
    width: auto;
    display: flex;
    justify-content: center;
}
input {
    background: transparent;
    color: #ccc;
    border: 1px solid #ccc;
    border-radius: 4px;
    width: 100%;
    margin-bottom: 10px;
    padding: 10px;
    margin-bottom: 0;
    width: auto;
    margin-right: 10px;
}
button {
    width: auto;
    background: #fff;
    color: #000;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    padding: 10px 15px;
    transition: 0.5s ease;
}
button:hover {
    background: #111;
    color: inherit;
}


        /*  H2  */

.container{
    padding-bottom: 30px;
}
h2 {
    margin: 25px;
}


        /* CAROUSEL STYLES */

.carousel-container {
    position: relative;
    display: flex;
    align-items: center;
    overflow: hidden;
    margin: 0 auto;
    padding: 0 85px; /* Asegura espacio para los botones */
}
.carousel {
    display: flex;
    gap: 1vw;
    overflow-x: auto;
    scroll-behavior: smooth;
    width: 100%; /* Ajusta para ocupar todo el espacio del contenedor */
}

.movie-scroll {
    flex: 0 0 auto; /* No se expande, tamaño fijo */
    width: 20vw; /* Ancho fijo del contenedor */
    height: auto; /* Altura fija del contenedor */
    max-height: 300px;
    max-width: 200px;
    min-width: 150px;
    border-radius: 8px; /* Borde redondeado */
    overflow: hidden; /* Oculta el contenido que sobresale */
    display: flex; /* Usa flexbox */
    justify-content: center; /* Centra horizontalmente */
    align-items: center; /* Centra verticalmente */
    position: relative; /* Posición relativa para el hover */
}
.movie-scroll img {
    width: 100%; /* Centra horizontalmente */
    transition: transform 0.5s ease; /* Transición suave */
    cursor: pointer;
}
.movie-scroll:hover img {
    transform: scale(1.075); /* Aumenta ligeramente al pasar el hover */
}

.carousel-btn {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background: #111;
    color: inherit;
    border: none;
    border-radius: 50%;
    cursor: pointer;
    width: 35px;
    height: 35px;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1; /* Asegura que estén sobre el carrusel */
    transition: 0.25s ease;
}
.carousel-btn:hover {
    background: #fff;
    color: #000;
}
.carousel-btn.left {
    left: 25px; /* Ajusta la posición para que no se solape */
}
.carousel-btn.right {
    right: 25px; /* Ajusta la posición para que no se solape */
}
.carousel::-webkit-scrollbar {
    display: none;
}


        /* RESULTADOS POR PELICULA */

#movieResult {
    margin: 25px auto;
    text-align: left;
    color: #fff;
    max-width: 1200px;
}
.movie-title {
    margin: 10px 10px 25px 10px;
    font-size: 2rem;
    text-align: center;
}
.movie-item {
    flex-direction: column; /* Cambia la dirección del flex a columna */
    align-items: center; /* Centra los elementos horizontalmente */
    text-align: center; /* Centra el texto */
}
.movie-image img {
    width: auto;
    max-width: 300px;
    margin-bottom: 10px; /* Espacio entre la imagen y los detalles */
}
.movie-details {
    flex-direction: column;
    align-items: flex-start;
    text-align: left;
}
.movie-details p {
    margin: 10px;
}


        /* ADAPTACION */

@media (max-width: 550px) {
    header {
        text-align: center;
        flex-direction: column;
    }
    header a {
        margin-bottom: 20px;
    }
    input {
        border-radius: 1.5vw;
    }
    .carousel{
        gap: 2vw;
    }
    .carousel-container {
        padding: 0 20px;
    }
    .carousel-btn.left {
        left: 10px; /* Ajusta la posición para que no se solape */
    }
    .carousel-btn.right {
        right: 10px; /* Ajusta la posición para que no se solape */
    }
}